<template>
    <!-- create Account record with multiple steps -->
    <lightning-record-edit-form id="accountRecordCreator"
                              onsuccess={handleSuccess}
                              object-api-name="Account">
        <lightning-messages></lightning-messages>
        
        <div id="modal-content-id-1">
            <lightning-progress-indicator type="path" current-step={currentStep}>
                <lightning-progress-step label="Step One" value="step1"></lightning-progress-step>
                <lightning-progress-step label="Step Two" value="step2"></lightning-progress-step>
                <lightning-progress-step label="Step Three" value="step3"></lightning-progress-step>
            </lightning-progress-indicator>

            <div class="content">
                            <div class="stepOne" >
                                <lightning-input-field field-name="Name"></lightning-input-field>
                                <lightning-button label="Next" onclick={goToStepTwo} variant="brand"></lightning-button>
                            </div>
                            <div class="stepTwo slds-hide">
                                <lightning-input-field field-name="Industry"></lightning-input-field>
                                <lightning-button label="Back" onclick={goBackToStepOne}></lightning-button>
                                <lightning-button label="Next" onclick={goToStepThree} variant="brand"></lightning-button>
                            </div>
                            <div class="stepThree slds-hide">
                                <lightning-input-field field-name="Rating"></lightning-input-field>
                                <lightning-button label="Back" onclick={goBackToStepTwo}></lightning-button>
                                <lightning-button label="Save" type="submit" variant="brand"></lightning-button>
                            </div>
            </div>
        </div>
    </lightning-record-edit-form>
</template>